header
{
    position: relative;
}

.Navigation_Bar
{
    background: linear-gradient(270deg, #CFAB55 0%, #CBA252 50%, #976118 100%);
    box-shadow: 0px 0px 24px 16px rgba(0, 0, 0, 0.75);
    position: sticky;
    width: 100%;
    z-index: 2;
}

.Navigation_Items
{
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding: 2rem 4rem;
	justify-content: space-between;
}

.Navigation_Item
{
	font-weight: bold;
	color: #FFFFFF;
	font-size: 1.5rem;
}

.Navigation_Item_URL
{
	color: #FFFFFF;
	font-weight: bold;
}

.Navigation_Item_URL:link
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration-line: none;
}

.Navigation_Item_URL:visited
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration-line: none;
}

.Navigation_Item_URL:hover
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration-line: none;
}

.Navigation_Item_URL:active
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration-line: none;
}

.Ornaments
{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: 5rem;
}