<header>
	<nav class="Navigation_Bar">
		<ul class="Navigation_Items">
			<li class="Navigation_Item"><a class="Navigation_Item_URL" href="https://github.com/German-Shein/" rel="noreferrer" target="_blank">Web Apps</a></li>
			<li class="Navigation_Item"><a class="Navigation_Item_URL" href="https://www.instagram.com/germansheinportfolio/" rel="noreferrer" target="_blank">UX/UI Design</a></li>
			<li class="Navigation_Item">Résumé</li>
			<li class="Navigation_Item"><a class="Navigation_Item_URL" (click)="Select_Active_View ('About Me');" href="javascript: void (0);">About Me</a></li>
		</ul>
	</nav>
	<div class="Ornaments">
		<top-corner-ornament Color="#CFAB55" Corner="Left"></top-corner-ornament>
		<crown-ornament Color="#CFAB55"></crown-ornament>
		<top-corner-ornament Color="#CFAB55" Corner="Right"></top-corner-ornament>
	</div>
</header>