<main class="Portfolio_Section">
	<div class="Portfolio_Exhibit_Grid Portfolio_Exhibit_1">
		<div></div>
		<div>
			<h2>al waseet</h2>
			<p>al waseet is a SaaS solution for restaurants, bars, F&B venues & hospitality groups. Its QR Ordering application is a customizable solution for restaurants. It increases turnover of visitors, shortens ordering time and allows waiters to focus on delivering food.</p>
			<p>The whole product was built using MERN-stack and an in-house design system. I coded every application myself and designed every page almost by myself (my business partners took part in the design sessions).</p>
			<p>Even though this start-up did not take off, I am still immensely proud of the work we have done. Take a look at the code, the designs and the demo using the links below:</p>
			<link-component Text="Visit alwaseet.me" URI="https://alwaseet.me"></link-component>
			<link-component Text="View source code on GitHub" URI="https://github.com/orgs/al-waseet/repositories"></link-component>
			<link-component Text="View Figma mockups" URI="https://www.figma.com/file/dSYLJSn9EAITVgO1FtWOyj/al-waseet?type=design&node-id=0%3A1&mode=design&t=nPJVl0fMeUSRd8PK-1"></link-component>
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit_Grid Portfolio_Exhibit_2"></div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit_Grid Portfolio_Exhibit_3"></div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit_Grid Portfolio_Exhibit_4"></div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit_Grid Portfolio_Exhibit_5"></div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit_Grid Portfolio_Exhibit_6"></div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit_Grid Portfolio_Exhibit_7"></div>
</main>