<main class="Portfolio_Section">
	<div class="Portfolio_Exhibit">
		<div class="Portfolio_Exhibit_1_Column_1">
			<svg-element class="Portfolio_Exhibit_Logo" Height="16rem" Inner_SVG={{al_waseet_Logo}} View_Box="0 0 256 256" Width="16rem"></svg-element>
			<img alt="al waseet landing page screenshot" class="Portfolio_Exhibit_Image" src="../../../assets/Images/al_waseet_Landing_Page.png" />
		</div>
		<div class="Portfolio_Exhibit_1_Column_2">
			<h1 class="Portfolio_Exhibit_Title">al waseet</h1>
			<p class="Portfolio_Exhibit_Description_Paragraph">al waseet is a SaaS solution for restaurants, bars, F&B venues & hospitality groups. Its QR Ordering application is a customizable solution for restaurants. It increases turnover of visitors, shortens ordering time and allows waiters to focus on delivering food.</p>
			<p class="Portfolio_Exhibit_Description_Paragraph">The whole product was built using MERN-stack and an in-house design system. I coded every application myself and designed every page almost by myself (my business partners took part in the design sessions).</p>
			<p class="Portfolio_Exhibit_Description_Paragraph">Even though this start-up did not take off, I am still immensely proud of the work we have done. Take a look at the code, the designs and the demo using the links below:</p>
			<link-component Text="Visit alwaseet.me" URI="https://alwaseet.me"></link-component>
			<link-component Text="View source code on GitHub" URI="https://github.com/orgs/al-waseet/repositories"></link-component>
			<link-component Text="View Figma mockups" URI="https://www.figma.com/file/dSYLJSn9EAITVgO1FtWOyj/al-waseet?type=design&node-id=0%3A1&mode=design&t=nPJVl0fMeUSRd8PK-1"></link-component>
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit">
		<div class="Portfolio_Exhibit_2_Column">
			<svg-element class="Align_Self_Center Portfolio_Exhibit_Logo" Height="16rem" Inner_SVG={{Sandwitches_Logo}} View_Box="0 0 256 256" Width="16rem"></svg-element>	
			<h1 class="Align_Self_Center Portfolio_Exhibit_Title">Sandwitches</h1>
			<p class="Portfolio_Exhibit_Description_Paragraph">Sandwitches is an innovative dining experience, designed to cater to people with specific tastes, diets and people who have food allergies. This application replicates this process by allowing the users to customize the menu to only see the items they want to potentially eat.</p>
			<link-component Text="View case study" URI="https://www.behance.net/gallery/176668263/Sandwitches-Case-Study"></link-component>
			<link-component Text="View Figma prototype" URI="https://www.figma.com/proto/8eIaUwqeGfVPleYMFVtj9A/Sandwitches?page-id=495%3A4143&type=design&node-id=495-4280&viewport=63%2C366%2C0.18&t=jgT7wyIpCq0VaKnC-1&scaling=scale-down&starting-point-node-id=495%3A4280&mode=design"></link-component>
		</div>
		<div class="Portfolio_Exhibit_2_Column">
			<img alt="Sandwitches menu screen" class="Portfolio_Exhibit_Image" src="../../../assets/Images/Sandwitches_Screenshot.png" />
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit">
		<div class="Portfolio_Exhibit_3_Column">
			<img alt="Upstarter profile screen" class="Portfolio_Exhibit_Image" src="../../../assets/Images/Upstarter_Mobile_Screenshot.png" />
		</div>
		<div class="Portfolio_Exhibit_3_Column">
			<img alt="Upstarter Logo" class="Portfolio_Exhibit_Image Portfolio_Exhibit_Logo Align_Self_Center" src="../../../assets/Images/Upstarter_Logo.png" />
			<h1 class="Align_Self_Center Portfolio_Exhibit_Title">Upstarter</h1>
			<p class="Portfolio_Exhibit_Description_Paragraph">Upstarter is an innovative platform for the new graduates to help them understand the career landscape, how to network, get a job and advance in life</p>
			<link-component Text="View case study" URI="https://www.behance.net/gallery/176671087/Upstarter-Case-Study"></link-component>
			<link-component Text="View mobile app Figma prototype" URI="https://www.figma.com/proto/KBPG4pjFwb7MjB666wdxTW/Upstarter?page-id=312%3A800&type=design&node-id=319-1883&viewport=386%2C918%2C0.08&t=FIhFmARaMG0d7fcW-1&scaling=scale-down&starting-point-node-id=319%3A1879&mode=design"></link-component>
			<link-component Text="View desktop website Figma prototype" URI="https://www.figma.com/proto/KBPG4pjFwb7MjB666wdxTW/Upstarter?page-id=544%3A1903&type=design&node-id=545-2233&viewport=25%2C332%2C0.02&t=MaqkK3UPOrib8qex-1&scaling=scale-down&starting-point-node-id=545%3A2233&mode=design"></link-component>
			<img alt="Upstarter sign up screen" class="Portfolio_Exhibit_Image Padding_Top_2rem" src="../../../assets/Images/Upstarter_Desktop_Screenshot.png" />
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit_4_Column">
		<h1 class="Align_Self_Center Portfolio_Exhibit_Title Text_Align_Center">Graphic Design Masterclass</h1>
		<p class="Portfolio_Exhibit_Description_Paragraph Text_Align_Center">This is a Udemy course I have been doing on and off. Still, it provided me with some essential tools and mindset to get me to where I am today. Below are the projects that I have especially enjoyed. More will come!</p>
		<div class="Portfolio_Exhibit">
			<div class="Portfolio_Exhibit_Item_Container">
				<svg-element Classes="Max_Width_100_Percent" Height="30rem" Inner_SVG={{Space_Badge}} View_Box="0 0 486 486" Width="30rem"></svg-element>
			</div>
			<div class="Portfolio_Exhibit_Item_Container">
				<svg-element Classes="Max_Width_100_Percent" Inner_SVG={{Video_Flux_Logo}} View_Box="0 0 864 292" Width="54rem"></svg-element>
			</div>
			<div class="Portfolio_Exhibit_Item_Container">
				<svg-element Classes="Max_Width_100_Percent" Inner_SVG={{Video_Flux_Icon}} View_Box="0 0 714 486" Width="30rem"></svg-element>
			</div>
			<div class="Portfolio_Exhibit_Item_Container">
				<img alt="Double Exposure photo of a cat and pine forest with orange filter applied to the whole composition" class="Portfolio_Exhibit_Image" src="../../../assets/Images/Graphic_Design_Masterclass_Exhibit_4.png" />

			</div>
			<div class="Portfolio_Exhibit_Item_Container">
				<img alt="A woman in straw hat standing in the foreground. To the left of her is an image of a tropical island and to the right - an image of Colosseum. A blue-purple gradient filter is applied to the photos of the places and the words 'Travel Hacks' are written to the left of her" class="Portfolio_Exhibit_Image" src="../../../assets/Images/Graphic_Design_Masterclass_Exhibit_5.png" />
			</div>
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit">
		<div class="Portfolio_Exhibit_5_Column">
			<svg-element Classes="Max_Width_100_Percent" Height="20rem" Inner_SVG={{Reflexx_Logo}} View_Box="0 0 864 329"></svg-element>
			<img alt="Reflexx device, back view" class="Portfolio_Exhibit_Image" src="../../../assets/Images/Reflexx_Photo_1.png" />
		</div>
		<div class="Portfolio_Exhibit_5_Column">
			<h1 class="Portfolio_Exhibit_Title">Reflexx</h1>
			<p class="Portfolio_Exhibit_Description_Paragraph">Reflexx is a startup that was building training devices for athletes to train their reaction time and to improve their concentration (this logo, by the way, is the only item that was not done by me).</p>
			<p class="Portfolio_Exhibit_Description_Paragraph">Although, not often talked about, it's a project I've enjoyed doing and I am very happy that I finished the MVP anyway.</p>
			<link-component Text="View source code for Arduino on GitHub" URI="https://github.com/German-Shein/Reflexx_Arduino"></link-component>
			<link-component Text="View source code for Node.js Backend on GitHub" URI="https://github.com/German-Shein/Reflexx_Back_End"></link-component>
			<img alt="Reflexx device, front view" class="Portfolio_Exhibit_Image" src="../../../assets/Images/Reflexx_Photo_2.png" />
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit">
		<div class="Portfolio_Exhibit_6_Column">
			<h1 class="Portfolio_Exhibit_Title Text_Align_Center">Sensors-equipped Bed for Sleep Apnea Diagnosis</h1>
			<p class="Portfolio_Exhibit_Description_Paragraph">Well, while it would be easier to copy-paste an abstract here, I would prefer writing about this project in a more informal style. This was my senior university project, for which I received an A. As the title suggests, it's a bed, or more specifically a mattress filled with sensors and microcontrollers that read body’s physiological data. It is then analyzed to determine whether the user has sleep apnea.</p>
			<p class="Portfolio_Exhibit_Description_Paragraph">There were two primary challenges. One was to calibrate the sensors and enable a continuous stream of uninterrupted data. The other was to make mattress at least semi-comfortable and presentable. Luckily, both were handled well.</p>
			<link-component Text="View source code on GitHub" URI="https://github.com/German-Shein/An-Intelligent-Mattress-for-Diagnosis-of-Sleep-Apnea/tree/main"></link-component>
			<link-component Text="Read the IEEE conference article" URI="https://ieeexplore.ieee.org/abstract/document/8267159"></link-component>
			<link-component Text="Read the project report" URI="../../../assets/Files/COE_491_Project_Report.pdf"></link-component>
			<link-component Text="View presentation" URI="../../../assets/Files/COE_491_Project_Presentation.pdf"></link-component>
		</div>
		<div class="Portfolio_Exhibit_6_Column">
			<img alt="Mattress without cover" class="Portfolio_Exhibit_Image" src="../../../assets/Images/Mattress_Photo_1.JPG" />
			<img alt="Mattress with cover" class="Portfolio_Exhibit_Image Padding_Top_4rem" src="../../../assets/Images/Mattress_Photo_2.JPG" />
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Portfolio_Exhibit">
		<div class="Portfolio_Exhibit_7_Column Text_Align_Center">
			<h1 class="Portfolio_Exhibit_Title">Saga of the Overmorrow</h1>
			<p class="Portfolio_Exhibit_Description_Paragraph">TO BE ANNOUNCED</p>
		</div>
	</div>
</main>