<div class="UX_UI_Design_Section">
	<div class="Project_Section">
		<div class="Ornament_Header_Container">
			<div class="Ornament_Header_Horizontal-line"></div>
			<h1 class="Ornament_Header">Sandwitches</h1>
			<div class="Ornament_Header_Horizontal-line"></div>
		</div>
		<div class="Case_Study_Container">
			<div class="Case_Study_Text">
				<p>Sandwitches is an innovative dining experience, designed to cater to people with specific tastes, diets and people who have food allergies. Our application replicates this process by allowing the users to customize the menu to only see the items they want to potentially eat.</p>
				<p><a href="https://www.figma.com/proto/8eIaUwqeGfVPleYMFVtj9A/Sandwitches?page-id=495%3A4143&node-id=495-4280&viewport=1529%2C394%2C0.13&scaling=scale-down&starting-point-node-id=495%3A4280" rel="noreferrer noopener" target="_blank">View on Figma</a></p>
				<p><a href="../../../assets/Files/Sandwitches_Case_Study.pdf" rel="noreferrer noopener" target="_blank">View Case Study</a></p>
			</div>
			<div class="Case_Study_Image_Container">
				<img alt="Sandwitches Logo" class="Case_Study_Image" src="../../../assets/Images/Sandwitches_Icon.svg" />
			</div>
		</div>
	</div>
	<div class="Project_Section">
		<div class="Ornament_Header_Container">
			<div class="Ornament_Header_Horizontal-line"></div>
			<h1 class="Ornament_Header">Homie</h1>
			<div class="Ornament_Header_Horizontal-line"></div>
		</div>
	</div>
	<div class="Project_Section">
		<div class="Ornament_Header_Container">
			<div class="Ornament_Header_Horizontal-line"></div>
			<h1 class="Ornament_Header">al waseet</h1>
			<div class="Ornament_Header_Horizontal-line"></div>
		</div>
	</div>
</div>