<div class="About_Me_Section flex flex-row">
	<div class="Information_Section flex-1">
		<div class="px-16 py-24 md:p-24 lg:p-32">
			<h1 class="text-5xl font-bold">About Me</h1>
			<p class="text-[2rem] pt-8 pb-32">Welcome to my portfolio website! My name is German Shein and I am, among other things, a Full Stack Web Application Developer! Throughout my life, I was lucky to get exposed to various disciplines, different cultures and artistic styles that I now incorporate in my work. My interests are always expanding and I pursue them to have more ways to give back to the world.</p>
			<h1 class="text-5xl font-bold">Hire Me</h1>
			<ul class="list-none p-0 m-0 pt-8 flex flex-row flex-wrap gap-8">
				<li><a href="https://www.instagram.com/germansheinportfolio/" rel="noreferrer" target="_blank"><svg-element class="h-16" Color="#FFFFFF" Height="4rem" Inner_SVG={{Instagram_Icon}} View_Box="0 0 64 64"></svg-element></a></li>
				<li><a href="https://www.linkedin.com/in/german-shein-1a2650140/" rel="noreferrer" target="_blank"><svg-element class="h-16" Color="#FFFFFF" Height="4rem" Inner_SVG={{LinkedIn_Icon}} View_Box="0 0 64 64"></svg-element></a></li>
				<li><a href="https://github.com/German-Shein/" rel="noreferrer" target="_blank"><svg-element class="h-16" Color="#FFFFFF" Height="4rem" Inner_SVG={{GitHub_Icon}} View_Box="0 0 64 64"></svg-element></a></li>
				<li><a href="https://www.freelancer.com/u/GermanShein/" rel="noreferrer" target="_blank"><svg-element class="h-16" Color="#FFFFFF" Height="4rem" Inner_SVG={{Freelancer_Icon}} View_Box="0 0 54.7 40.8"></svg-element></a></li>
				<li><a href="https://twitter.com/GermanShein" rel="noreferrer" target="_blank"><svg-element class="h-16" Color="#FFFFFF" Height="4rem" Inner_SVG={{X_Icon}} View_Box="0 0 64 64"></svg-element></a></li>
				<li><a href="https://www.threads.net/@germansheinportfolio" rel="noreferrer" target="_blank"><svg-element class="h-16" Color="#FFFFFF" Height="4rem" Inner_SVG={{Threads_Icon}} View_Box="0 0 56 64"></svg-element></a></li>
				<li><a href="https://www.behance.net/germanshein" rel="noreferrer" target="_blank"><svg-element class="h-16" Color="#FFFFFF" Height="4rem" Inner_SVG={{Behance_Icon}} View_Box="0 0 102 64"></svg-element></a></li>
				<li><a href="https://dribbble.com/German_Shein" rel="noreferrer" target="_blank"><svg-element class="h-16" Color="#FFFFFF" Height="4rem" Inner_SVG={{Dribbble_Icon}} View_Box="0 0 64 64"></svg-element></a></li>
			</ul>
		</div>
	</div>
	<div class="hidden md:block flex-1"></div>
</div>