.About_Me_Section
{
	background-blend-mode: multiply;
	background-image: url('/assets/Images/German_Shein.webp');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.Information_Section
{
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.Social_Networks
{
	list-style-type: none;
}