.About_Me_Section
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
}

.Information_Section
{
	padding: 8rem;
	flex: 1 1 0;
}

.Information_Section_Header_1
{
	color: #FFFFFF;
	font-weight: bold;
    font-size: 2rem;
}

.Information_Section_Text
{
	color: #FFFFFF;
	padding-top: 2rem;
    font-size: 1.5rem;
}

.Information_Section_Header_2
{
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 4rem;
    font-size: 2rem;
}

.Social_Networks
{
	padding: 0;
	padding-top: 2rem;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.Photo_Section
{
	background-blend-mode: multiply;
	background-image: url('../../../assets/German_Shein.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1 1 0;
}