<div class="About_Me_Section">
	<div class="Information_Section">
		<h1 class="Information_Section_Header_1">About Me</h1>
		<p class="Information_Section_Text">Welcome to my portfolio website! My name is German Shein and I am, among other things, a Full Stack Web Application Developer! Throughout my life, I was lucky to get exposed to various disciplines, different cultures and artistic styles that I now incorporate in my work. My interests are always expanding and I pursue them to have more ways to give back to the world.</p>
		<h1 class="Information_Section_Header_2">Hire Me</h1>
		<ul class="Social_Networks">
			<li><a class="Social_Network_URL" href="https://www.instagram.com/germansheinportfolio/" rel="noreferrer" target="_blank"><svg-element Color="#FFFFFF" Height="3rem" Inner_SVG={{Instagram_Icon}} View_Box="0 0 64 64" Width="3rem"></svg-element></a></li>
			<li><a class="Social_Network_URL" href="https://www.linkedin.com/in/german-shein-1a2650140/" rel="noreferrer" target="_blank"><svg-element Color="#FFFFFF" Height="3rem" Inner_SVG={{LinkedIn_Icon}} View_Box="0 0 64 64" Width="3rem"></svg-element></a></li>
			<li><a class="Social_Network_URL" href="https://github.com/German-Shein/" rel="noreferrer" target="_blank"><svg-element Color="#FFFFFF" Height="3rem" Inner_SVG={{GitHub_Icon}} View_Box="0 0 64 64" Width="3rem"></svg-element></a></li>
			<li><a class="Social_Network_URL" href="https://www.freelancer.com/u/GermanShein/" rel="noreferrer" target="_blank"><svg-element Color="#FFFFFF" Height="3rem" Inner_SVG={{Freelancer_Icon}} View_Box="0 0 54.7 40.8" Width="3rem"></svg-element></a></li>
		</ul>
	</div>
	<div class="Empty_Column"></div>
</div>