header
{
	background: linear-gradient(270deg, #CFAB55 0%, #CBA252 50%, #976118 100%);
}

.Navigation_Items
{
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding: 2rem 4rem;
	justify-content: space-between;
}

.Navigation_Item
{
	font-weight: bold;
	color: #FFFFFF;
	font-size: 2rem;
}

.Navigation_Item_URL
{
	color: #FFFFFF;
	font-weight: bold;
}

.Navigation_Item_URL:link
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration-line: none;
}

.Navigation_Item_URL:visited
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration-line: none;
}

.Navigation_Item_URL:hover
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration-line: none;
}

.Navigation_Item_URL:active
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration-line: none;
}

.About_Me_Section
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	height: 100vh;
}

.Information_Section
{
	padding: 4rem;
	flex: 1 1 0;
}

.Information_Section_Header_1
{
	color: #FFFFFF;
	font-weight: bold;
}

.Information_Section_Text
{
	color: #FFFFFF;
}

.Information_Section_Header_2
{
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 4rem;
}

.Social_Networks
{
	padding: 0;
	padding-top: 2rem;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.Photo_Section
{
	background-blend-mode: multiply;
	background-image: url('../assets/German_Shein.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1 1 0;
}