header
{
    background: linear-gradient(270deg, #CFAB55 0%, #CBA252 49.15%, #976118 100%);
}

.Navigation_Items
{
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 4rem;
    justify-content: space-between;

}

.Navigation_Item
{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 2rem;
}