<header>
	<nav class="Navigation_Bar">
		<svg-element Classes="Mobile_Header" (click)="Toggle_Hamburger_Menu ()" Color="#FFFFFF" (Function)="Toggle_Hamburger_Menu" Height="2rem" Inner_SVG={{Hamburger_Menu_Icon}} View_Box="0 0 18 12"></svg-element>
		<ul [ngClass]="Classes">
			<li class="Navigation_Item" (click)="Select_Active_View ('About Me');">About Me</li>
			<li class="Navigation_Item" (click)="Select_Active_View ('Portfolio');">Portfolio</li>
			<li class="Navigation_Item" (click)="Select_Active_View ('Résumé');">Résumé</li>
			<li class="Navigation_Item" (click)="Select_Active_View ('Blogs');">Blogs</li>
		</ul>
	</nav>
	<div class="Ornaments">
		<top-corner-ornament Color="#CFAB55" Corner="Left" Height="6rem"></top-corner-ornament>
		<crown-ornament Color="#CFAB55" Height="4rem"></crown-ornament>
		<top-corner-ornament Color="#CFAB55" Corner="Right" Height="6rem"></top-corner-ornament>
	</div>
</header>