<header class="relative">
	<nav class="Navigation_Bar w-full sticky z-[2]">
		<svg-element class="block cursor-pointer md:hidden p-8" (click)="Toggle_Hamburger_Menu ()" Color="#FFFFFF" (Function)="Toggle_Hamburger_Menu" Height="2rem" Inner_SVG={{Hamburger_Menu_Icon}} View_Box="0 0 18 12" Width="3rem"></svg-element>
		<ul class="m-0 list-none flex-col md:flex md:flex-row gap-8 justify-between px-16 py-8" [ngClass]="Classes">
			<li class="Navigation_Item font-bold cursor-pointer text-[2rem]"><a class="Navigation_Item font-bold" routerLink="/">About Me</a></li>
			<li class="Navigation_Item font-bold cursor-pointer text-[2rem]"><a class="Navigation_Item font-bold" routerLink="/portfolio">Portfolio</a></li>
			<li class="Navigation_Item font-bold cursor-pointer text-[2rem]"><a class="Navigation_Item font-bold" routerLink="/cv">Résumé</a></li>
			<li class="Navigation_Item font-bold cursor-pointer text-[2rem]"><a class="Navigation_Item font-bold" routerLink="/blogs">Blogs</a></li>
		</ul>
	</nav>
	<div class="absolute flex flex-row justify-between w-full top-20 md:top-24 z-[1]">
		<top-corner-ornament Color="#CFAB55" Corner="Left" Height="6rem"></top-corner-ornament>
		<crown-ornament Color="#CFAB55" Height="4rem"></crown-ornament>
		<top-corner-ornament Color="#CFAB55" Corner="Right" Height="6rem"></top-corner-ornament>
	</div>
</header>