<div class="p-16">
    <div class="grid gap-16 Grid_Template_Columns_24rem">
        <div>
            <img alt="Image of Dubai" class="Max_Width_100_Percent" src="assets/Images/Blog_Image_1.webp" />
        </div>
        <div>
            <h1>Blog Title</h1>
            <p>December 27, 2023</p>
            <p>Made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words...</p>
            <button-component Text="Read more"></button-component>
        </div>
    </div>
    <h1>Previous Blogs</h1>
    <div class="grid gap-32 Grid_Template_Columns_16rem">
        <blog-card-component Thumbnail="assets/Images/Blog_Image_1.webp" Title="Blog Title" [Timestamp]="Dates [0]"></blog-card-component>
        <blog-card-component Thumbnail="assets/Images/Blog_Image_1.webp" Title="Blog Title" [Timestamp]="Dates [0]"></blog-card-component>
        <blog-card-component Thumbnail="assets/Images/Blog_Image_1.webp" Title="Blog Title" [Timestamp]="Dates [0]"></blog-card-component>
        <blog-card-component Thumbnail="assets/Images/Blog_Image_1.webp" Title="Blog Title" [Timestamp]="Dates [0]"></blog-card-component>
        <blog-card-component Thumbnail="assets/Images/Blog_Image_1.webp" Title="Blog Title" [Timestamp]="Dates [0]"></blog-card-component>
        <blog-card-component Thumbnail="assets/Images/Blog_Image_1.webp" Title="Blog Title" [Timestamp]="Dates [0]"></blog-card-component>
    </div>
</div>