<div class="Blogs_Section">
    <div class="Headline_Blog">
        <div class="Headline_Blog_Image">
            <img alt="Image of Dubai" class="Max_Width_100_Percent" src="assets/Images/Blog_Image_1.jpg" />
        </div>
        <div class="Headline_Blog_Image">
            <h1>Blog Title</h1>
            <p>December 27, 2023</p>
            <p>Made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words made up words...</p>
            <button-component Text="Read more"></button-component>
        </div>
    </div>
    <div class="Previous_Blogs"></div>
</div>