@font-face
{
    font-family: 'Semplicita';
    src: url('./assets/Fonts/Semplicita-Light.woff2') format('woff2'), url('./assets/Fonts/Semplicita-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'Semplicita';
    src: url('./assets/Fonts/Semplicita-LightItalic.woff2') format('woff2'), url('./assets/Fonts/Semplicita-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face
{
    font-family: 'Semplicita';
    src: url('./assets/Fonts/Semplicita-Medium.woff2') format('woff2'), url('./assets/Fonts/Semplicita-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'Semplicita';
    src: url('./assets/Fonts/Semplicita-MediumItalic.woff2') format('woff2'), url('./assets/Fonts/Semplicita-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face
{
    font-family: 'Semplicita';
    src: url('./assets/Fonts/Semplicita-Bold.woff2') format('woff2'), url('./assets/Fonts/Semplicita-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'Semplicita';
    src: url('./assets/Fonts/Semplicita-BoldItalic.woff2') format('woff2'), url('./assets/Fonts/Semplicita-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face
{
    font-family: 'Semplicita';
    src: url('./assets/Fonts/Semplicita-Ombra.woff2') format('woff2'), url('./assets/Fonts/Semplicita-Ombra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'metro_retro_nfregular';
    src: url('./assets/Fonts/metroretronf-webfont.woff2') format('woff2'), url('./assets/Fonts/metroretronf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*
{
    color: #FFFFFF;
	font-family: 'Semplicita', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
}

body
{
	background-color: #000000;
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6
{
	margin: 0;
}

@media screen and (min-width: 768px) 
{
	.Mobile_Header
	{
		display: none;
	}
}

.Mobile_Header
{
    cursor: pointer;
    margin: 2rem 4rem;
}

.Align_Self_Center
{
    align-self: center;
}

.Padding_Top_2rem
{
    padding-top: 2rem;
}

.Text_Align_Center
{
    text-align: center;
}

.Max_Width_100_Percent
{
    max-width: 100%;
}