<div class="p-32">
	<div class="grid gap-8 Grid_Template_Columns_16rem pb-8">
		<div class="">
			<h1 class="text-5xl font-bold pb-8">Executive Summary</h1>
			<p class="text-[2rem]"><em>A <strong class="font-bold">Full Stack Software Engineer and UX/UI Designer</strong> with 6 years of experience in IT and E-Learning industries. A versatile professional who specializes in React, Node.js and MongoDB. A multidisciplinary developer with experience in developing medium-scale (100k+ users) e-learning and Food & Beverages solutions.</em></p>
		</div>
		<div class="">
			<h1 class="text-5xl font-bold pb-8">Functional Expertise</h1>
			<ul class="list-disc text-[2rem] pl-8">
				<li>Full Stack Web Development</li>
				<li>Software Architecture</li>
				<li>API Creation & Integration</li>
				<li>UX & Product Design</li>
				<li>Business Communication</li>
				<li>Multidisciplinary Team Collaboration</li>
				<li>Strategic Thinking and Planning</li>
				<li>Team Leadership</li> 
			</ul>
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="py-8">
		<h1 class="text-5xl font-bold">Functional Expertise Demonstrated</h1>
		<div>
			<h3 class="text-[2rem] font-bold">Confidential Contract</h3>
			<h4 class="text-[2rem]">Dubai, United Arab Emirates</h4>
			<p class="text-[2rem]">August 2023 &ndash; December 2023</p>
			<p class="text-[2rem]"><strong class="font-bold">Full Stack Team Lead</strong></p>
			<p class="text-[2rem]">Lead a team of 5 developers and 1 UX designer to finish and deliver a FinTech product. Single-handedly implemented a Scrum methodology for product management, which shortened the development time by 3 months and created a full-scale product overview and documentation.</p>
			<p class="text-[2rem]">While on board, we completed the MVP in 15 sprints, closed 300 tickets and Pull Requests (equivalent to about 600 story points) and I mentored 2 Junior engineers in communication and development skills.</p>
			<ul class="text-[2rem] list-disc pl-8">
				<li><strong class="font-bold">Full Stack Web Development:</strong> Refactored 3 front- and back-end applications to improve performance and cut down development time by 3 sprints. Integrated 5+ third-party systems to achieve full functionality up of the MVP.</li>
				<li><strong class="font-bold">UX & Product Design:</strong> Optimized the website experience for mobile phone users and created infinite scrolling to allows users to easily process a large amount of entries.</li>
				<li><strong class="font-bold">Team Leadership:</strong> Lead a team of engineers and designers to work in organized and efficient manner. By utilizing their existing talents, as well as their aspirations, the development process became more streamlined. The team was introduced to the sprint-based development, after which an average 10 tickets per sprint were closed. The project was completed in 3.5 months, with no features removed for the sake of the deadline.</li>
			</ul>
		</div>
		<div>
			<h3 class="text-[2rem] font-bold underline cursor-pointer"><a href="https://www.datamilk.ai/" rel="noreferrer" target="_blank">DataMilk</a></h3>
			<h4 class="text-[2rem]">Dubai, United Arab Emirates</h4>
			<p class="text-[2rem]">March 2023 &ndash; May 2023</p>
			<p class="text-[2rem]"><em class="italic">The e-commerce smart UX startup with 20+ employees in the seed stage, that $5M+ in funding and 20+ active clients.</em></p>
			<p class="text-[2rem]"><strong class="font-bold">Full Stack Software Engineer</strong></p>
			<p class="text-[2rem]">Developed and tested new features for the internal tool for the deployment of the AI-enabled UX components used in the e-commerce websites.</p>
			<ul class="text-[2rem] list-disc pl-8">
				<li><strong class="font-bold">Full Stack Web Development:</strong> Deployed UX components on client&#39;s websites and developed the API SDK product for clients to manage Content, Data Algorithms and Personalized Value Ranking. Participated in 10+ code reviews with 1k+ lines of new and edited code.</li>
				<li><strong class="font-bold">API Creation & Integration:</strong> Created an API Product SDK to enable automated content management for the smart UX components of 20+ e-Commerce platforms in US, UK and Brazil.</li>
				<li><strong class="font-bold">MultidisciplinaryTeam Collaboration:</strong> Worked closely with the UX and Data Science teams. With the UX team, the purpose was to ensure the deployed smart components matched the Figma mockups. With the Data Science team, the goal was to properly extract data for the dashboard that displayed smart components metrics.</li>
			</ul>
		</div>
		<div>
			<h3 class="text-[2rem] font-bold underline cursor-pointer"><a href="https://www.rhetora.ai/" rel="noreferrer" target="_blank">rhetora</a></h3>
			<h4 class="text-[2rem]">Dubai, United Arab Emirates</h4>
			<p class="text-[2rem]">February 2023 &ndash; March 2023</p>
			<p class="text-[2rem]"><em class="italic">The sales-training AI startup with 5+ employees in the pre-seeding stage that has achieved 10+ soft agreements and collected $400k+ in investments.</em></p>
			<p class="text-[2rem]"><strong class="font-bold">Interaction Designer &amp; Front&ndash;end Developer</strong></p>
			<p class="text-[2rem]">Developed, tested and animated the front&ndash;end application for the AI-enabled cold&ndash;calling platform, designed to train sales people for successful outcomes of sales calls.</p>
			<ul class="text-[2rem] list-disc pl-8">
				<li><strong class="font-bold">User Experience (UX) Design:</strong> Implemented the web pages of the front-end application, created the reusable component-based design system and added animations that enhanced the UX of the final product.</li>
				<li><strong class="font-bold">Mentorship:</strong> Coached 4 interns with backgrounds in AI, Machine Learning, Database Management, Back-end development and Front-end development, which enabled to cut back the MVP development by 1 sprint.</li>
			</ul>
		</div>
		<div>
			<h3 class="text-[2rem] font-bold underline cursor-pointer"><a href="https://alwaseet.me" rel="noreferrer" target="_blank">al waseet</a></h3>
			<h4 class="text-[2rem]">Dubai, United Arab Emirates</h4>
			<p class="text-[2rem]">September 2022 &ndash; February 2023</p>
			<p class="text-[2rem]"><em class="italic">A Food & Beverages startup with 4 employees in the pre-seeding stage, aiming to reach out to 1000 clients by the end of 2023.</em></p>
			<p class="text-[2rem]"><strong class="font-bold">Co-Founder, Developer, Designer</strong></p>
			<p class="text-[2rem]">Conceptualizeed and developed an operation cost-cutting B2B2C SaaS solution for restaurants, bars, F&B venues and hospitality groups that enables ordering via a QR code.</p>
			<ul class="text-[2rem] list-disc pl-8">
				<li><strong class="font-bold">Software Architecture:</strong> Createed a microservice architecture consisting of 4 applications and defines business logic to reduce the development time by 3 months and lay the groundwork for the Containerization and CI/CD.</li>
				<li><strong class="font-bold">Full Stack Web Development:</strong> Developed the microservices for the application using the MERN stack. Additionally, designs the UX and uses the unified design system for the front-end to optimize the development time and save AED ~100k / year on workforce expenses.</li>
				<li><strong class="font-bold">Strategic Thinking and Planning:</strong> Mapped out the road for the product development for the year of 2023, with the consideration of the following: new features, migration to AWS and client onboarding.</li>
			</ul>
		</div>
		<div>
			<h3 class="text-[2rem] font-bold underline cursor-pointer"><a href="https://ibm.com" rel="noreferrer" target="_blank">IBM</a></h3>
			<h4 class="text-[2rem]">Dubai, United Arab Emirates</h4>
			<p class="text-[2rem]">June 2017 &ndash; September 2020</p>
			<p class="text-[2rem]"><em class="italic">The publicly-traded (NYSE: IBM) multinational IT corporation with ~$60 billion in revenue, ~300k employees worldwide and 10k+ clients.</em></p>
			<p class="text-[2rem]"><strong class="font-bold">Full Stack Web Application Developer & Content Specialist</strong></p>
			<p class="text-[2rem]">Established IBM as an educational and user-centered brand by developing 3 large-scale educational platforms for 250k+ users: IBM Digital - Nation; IBM Skills Academy; IBM Competition Management Platform.</p>
			<ul class="text-[2rem] list-disc pl-8">
				<li><strong class="font-bold">Full Stack Web Development:</strong> Developed and contributed 10+ front-end and back-end microservices using the MERN and CERN stacks to enable e-learning of digital and technological skills for 250k+ users, with our primary clients being GEMS Education (2019-2020), ADNOC (2019) and Ministries of Education (2017-2018) of Egypt, Kenya, Nigeria, Mozambique and South Africa.</li>
				<li><strong class="font-bold">API Creation & Integration:</strong> Developed, integrated and tested ~50 API definitions for 10+ microservices that were used by 100k users daily. Examples include the IBM Watson Assistant integration, GitHub support ticketing, LiveEngage Live Chat, BFF microservices, as well as Cloudant and MongoDB querying.</li>
				<li><strong class="font-bold">Multidisciplinary Team Collaboration:</strong> Collaborated with a team of ~200 people, consisting of web developers, software architects, designers, business developers and product managers, spread across the North America, EU, MEA and South Asia, to deliver 3 large-scale educational platforms. Our collaboration consisted of frequent status calls, Trello project management and Slack collaboration.</li>
				<li><strong class="font-bold">Business Communication:</strong> Published 10 courses on the topics of Cloud, Container Orchestration and Internet of Things that resulted in 1k+ IBM badges issued, conducted webinars for 10k+ users and created documentation for the development purposes.</li>
			</ul>
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="py-8">
		<h1 class="text-5xl font-bold pb-8">Education</h1>
		<div class="grid gap-8 Grid_Template_Columns_16rem">
			<div>
				<h3 class="text-[2rem] font-bold">Google UX Design Certificate</h3>
				<p class="text-[2rem]">March 2022 &ndash; August 2023</p>
				<p class="text-[2rem]"><em class="italic">Coursera & Google (Online)</em></p>
				<p class="text-[2rem]">Completed 7/7 courses</p>
			</div>
			<div>
				<h3 class="text-[2rem] font-bold">Master of Science (Biomedical Engineering)</h3>
				<p class="text-[2rem]">September 2020 &ndash; May 2022</p>
				<p class="text-[2rem]"><em class="italic">University of Bern (Bern, Switzerland)</em></p>
				<p class="text-[2rem]">GPA: 4.37/6.00 (incomplete)</p>
			</div>
			<div>
				<h3 class="text-[2rem] font-bold">Bachelor of Science (Computer Engineering), Minor in Psychology</h3>
				<p class="text-[2rem]">September 2012 &ndash; May 2017</p>
				<p class="text-[2rem]"><em class="italic">American University of Sharjah (Sharjah, United Arab Emirates)</em></p>
				<p class="text-[2rem]">GPA: 3.14/4.00</p>
			</div>
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="flex flex-col pt-8">
		<h1 class="text-5xl font-bold">Skills</h1>
		<div class="flex flex-row flex-wrap gap-8 pt-8 pb-16">
			<tag-component Text="UX Design"></tag-component>
			<tag-component Text="Full Stack"></tag-component>
			<tag-component Text="Public Speaking"></tag-component>
			<tag-component Text="Creative Writing"></tag-component>
			<tag-component Text="Presentations"></tag-component>
			<tag-component Text="Branding"></tag-component>
			<tag-component Text="Microcontrollers"></tag-component>
			<tag-component Text="Front-end"></tag-component>
			<tag-component Text="SQL + NoSQL"></tag-component>
			<tag-component Text="Scientific Writing"></tag-component>
			<tag-component Text="Back-end"></tag-component>
			<tag-component Text="Content Writing"></tag-component>
			<tag-component Text="Logo Design"></tag-component>
		</div>
		<a class="self-center text-center text-[2rem] underline" href="https://www.linkedin.com/in/german-shein/" rel="noreferrer" target="_blank">Like what you see? Drop me a line on my LinkedIn and I&#39;ll send you a CV tailored to your position 😉</a>
	</div>
</div>