<main class="Resume_Section">
	<div class="General_Information">
		<div class="Summary">
			<h1 class="Resume_Header">Executive Summary</h1>
			<p><em>A <strong>Full Stack Web Application Developer and UX/UI Designer</strong> with 4 years of experience in IT and E-Learning industries. A versatile professional who specializes in React, Node.js and MongoDB. A multidisciplinary developer with experience in developing medium-scale (100k+ users) e-learning and Food & Beverages solutions.</em></p>
		</div>
		<div class="Top_Skills">
			<h1 class="Resume_Header">Functional Expertise</h1>
			<ul>
				<li>Full Stack Web Development</li>
				<li>Software Architecture</li>
				<li>API Creation & Integration</li>
				<li>Business Communication</li>
				<li>Multidisciplinary Team Collaboration</li>
				<li>Strategic Thinking and Planning</li> 
			</ul>
		</div>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Work_Experience">
		<h1 class="Resume_Header">Functional Expertise Demonstrated</h1>
		<h3><a href="https://alwaseet.me" rel="noreferrer" target="_blank">al waseet</a></h3>
		<h4>Dubai, United Arab Emirates</h4>
		<p>September 2022 – Now</p>
		<p><em>A Food & Beverages startup with 4 employees in the pre-seeding stage, aiming to reach out to 1000 clients by the end of 2023.</em></p>
		<p><strong>Co-Founder, Developer, Designer</strong></p>
		<p>Conceptualizes and develops an operation cost-cutting B2B2C SaaS solution for restaurants, bars, F&B venues and hospitality groups that enables ordering via a QR code.</p>
		<ul>
			<li><strong>Software Architecture:</strong> Creates a microservice architecture consisting of 4 applications and defines business logic to reduce the development time by 3 months and lay the groundwork for the Containerization and CI/CD.</li>
			<li><strong>Full Stack Web Development:</strong> Develops the microservices for the application using the MERN stack. Additionally, designs the UX and uses the unified design system for the front-end to optimize the development time and save AED ~100k / year on workforce expenses.</li>
			<li><strong>Strategic Thinking and Planning:</strong> Maps out the road for the product development for the year of 2023, with the consideration of the following: new features, migration to AWS and client onboarding.</li>
		</ul>
		<h3><a href="https://ibm.com" rel="noreferrer" target="_blank">IBM</a></h3>
		<h4>Dubai, United Arab Emirates</h4>
		<p>June 2017 – September 2020</p>
		<p><em>The publicly-traded (NYSE: IBM) multinational IT corporation with ~$60 billion in revenue, ~300k employees worldwide and 10k+ clients.</em></p>
		<p><strong>Full Stack Web Application Developer & Content Specialist</strong></p>
		<p>Established IBM as an educational and user-centered brand by developing 3 large-scale educational platforms for 250k+ users: IBM Digital - Nation; IBM Skills Academy; IBM Competition Management Platform.</p>
		<ul>
			<li><strong>Full Stack Web Development:</strong> Developed and contributed 10+ front-end and back-end microservices using the MERN and CERN stacks to enable e-learning of digital and technological skills for 250k+ users, with our primary clients being GEMS Education (2019-2020), ADNOC (2019) and Ministries of Education (2017-2018) of Egypt, Kenya, Nigeria, Mozambique and South Africa.</li>
			<li><strong>API Creation & Integration:</strong> Developed, integrated and tested ~50 API definitions for 10+ microservices that were used by 100k users daily. Examples include the IBM Watson Assistant integration, GitHub support ticketing, LiveEngage Live Chat, BFF microservices, as well as Cloudant and MongoDB querying.</li>
			<li><strong>Multidisciplinary Team Collaboration:</strong> Collaborated with a team of ~200 people, consisting of web developers, software architects, designers, business developers and product managers, spread across the North America, EU, MEA and South Asia, to deliver 3 large-scale educational platforms. Our collaboration consisted of frequent status calls, Trello project management and Slack collaboration.</li>
			<li><strong>Business Communication: Published 10 courses on the topics of Cloud, Container Orchestration and Internet of Things that resulted in 1k+ IBM badges issued, conducted webinars for 10k+ users and created documentation for the development purposes.</strong></li>
		</ul>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Education">
		<h1 class="Resume_Header">Education</h1>
		<h3>Master of Science (Biomedical Engineering). University of Bern (Bern, Switzerland)</h3>
		<p>GPA: 4.37/6.00 (incomplete)</p>
		<h3>Bachelor of Science (Computer Engineering) Minor in Psychology. American University of Sharjah (Sharjah, United Arab Emirates)</h3>
		<p>GPA: 3.14/4.00</p>
		<h3>Additional Professional Development:</h3>
		<ul>
			<li>Google UX Design Professional Certificate – Coursera (2022-Now)</li>
			<li>IBM: Mentor – IBM (2019)</li>
			<li>IBM: Architectural Thinking – IBM (2019)</li>
		</ul>
	</div>
	<divider-ornament Width="100%"></divider-ornament>
	<div class="Skills">
		<h1 class="Resume_Header">Skills</h1>
		<div class="Skills_Tags">
			<tag-component Text="UX Design"></tag-component>
			<tag-component Text="Full Stack"></tag-component>
			<tag-component Text="Public Speaking"></tag-component>
			<tag-component Text="Creative Writing"></tag-component>
			<tag-component Text="Presentations"></tag-component>
			<tag-component Text="Branding"></tag-component>
			<tag-component Text="Microcontrollers"></tag-component>
			<tag-component Text="Front-end"></tag-component>
			<tag-component Text="SQL + NoSQL"></tag-component>
			<tag-component Text="Scientific Writing"></tag-component>
			<tag-component Text="Back-end"></tag-component>
			<tag-component Text="Content Writing"></tag-component>
			<tag-component Text="Logo Design"></tag-component>
		</div>
		<a class="LinkedIn_Invitation" href="https://www.linkedin.com/in/german-shein/" rel="noreferrer" target="_blank">Like what you see? Drop me a line on my LinkedIn and I'll send you a CV tailored to your position 😉</a>
	</div>
</main>