<div class="Resume_Section">
	<div class="Summary"></div>
        <h1>EXECUTIVE SUMMARY</h1>
        <p><em>A <strong>Full Stack Web Application Developer and UX/UI Designer</strong> with 4 years of experience in IT and E-Learning industries. A versatile professional who specializes in React, Node.js and MongoDB. A multidisciplinary developer with experience in developing medium-scale (100k+ users) e-learning and Food & Beverages solutions.</em></p>
    <div class="Top_Skills">
        <h1>FUNCTIONAL EXPERTISE</h1>
        <ul>
            <li>Full Stack Web Development</li>
            <li>Software Architecture</li>
            <li>API Creation & Integration</li>
            <li>Business Communication</li>
            <li>Multidisciplinary Team Collaboration</li>
            <li>Strategic Thinking and Planning</li> 
        </ul>
    </div>
    <div class="Work_Experience">
        <h1>FUNCTIONAL EXPERTISE DEMONSTRATED</h1>
        <h3><a href="https://alwaseet.me" rel="noreferrer" target="_blank">al waseet</a></h3>
        <h4>Dubai, United Arab Emirates</h4>
        <p>September 2022 – Now</p>
        <p><em>A Food & Beverages startup with 4 employees in the pre-seeding stage, aiming to reach out to 1000 clients by the end of 2023.</em></p>
        <p><strong>Co-Founder, Developer, Designer</strong></p>
        <p>Conceptualizes and develops an operation cost-cutting B2B2C SaaS solution for restaurants, bars, F&B venues and hospitality groups that enables ordering via a QR code.</p>
        <ul>
            <li><strong>Software Architecture:</strong> Creates a microservice architecture consisting of 4 applications and defines business logic to reduce the development time by 3 months and lay the groundwork for the Containerization and CI/CD.</li>
            <li><strong>Full Stack Web Development:</strong> Develops the microservices for the application using the MERN stack. Additionally, designs the UX and uses the unified design system for the front-end to optimize the development time and save AED ~100k / year on workforce expenses.</li>
            <li><strong>Strategic Thinking and Planning:</strong> Maps out the road for the product development for the year of 2023, with the consideration of the following: new features, migration to AWS and client onboarding.</li>
        </ul>

 
<!-- IBM
June 2017 – September 2020
The publicly-traded (NYSE: IBM) multinational IT corporation with ~$60 billion in revenue, ~300k employees worldwide and 10k+ clients.
Full Stack Web Application Developer & Content Specialist
Established IBM as an educational and user-centered brand by developing 3 large-scale educational platforms for 250k+ users: IBM Digital - Nation; IBM Skills Academy; IBM Competition Management Platform.
●	Full Stack Web Development: Developed and contributed 10+ front-end and back-end microservices using the MERN and CERN stacks to enable e-learning of digital and technological skills for 250k+ users, with our primary clients being GEMS Education (2019-2020), ADNOC (2019) and Ministries of Education (2017-2018) of Egypt, Kenya, Nigeria, Mozambique and South Africa.
●	API Creation & Integration: Developed, integrated and tested ~50 API definitions for 10+ microservices that were used by 100k users daily. Examples include the IBM Watson Assistant integration, GitHub support ticketing, LiveEngage Live Chat, BFF microservices, as well as Cloudant and MongoDB querying.
●	Multidisciplinary Team Collaboration: Collaborated with a team of ~200 people, consisting of web developers, software architects, designers, business developers and product managers, spread across the North America, EU, MEA and South Asia, to deliver 3 large-scale educational platforms. Our collaboration consisted of frequent status calls, Trello project management and Slack collaboration.
●	Business Communication: Published 10 courses on the topics of Cloud, Container Orchestration and Internet of Things that resulted in 1k+ IBM badges issued, conducted webinars for 10k+ users and created documentation for the development purposes
-->

    </div>
    <div class="Education"></div>
    <div class="Skills"></div>
</div>